<section id="order" class="order">
    <div class="heading">
        <span>order now</span>
        <h3>fast home delivery</h3>
    </div>
    <form action="">
        <div class="box-container">
            <div class="box">
                <div class="inputBox">
                    <span>full name</span>
                    <input type="text" placeholder="enter you name"> 
                </div>
                <div class="inputBox">
                    <span>food name</span>
                    <input type="text" placeholder="food you want"> 
                </div>
                <div class="inputBox">
                    <span>order details</span>
                    <input type="text" placeholder="specifics with food"> 
                </div>
                <div class="inputBox">
                    <span>your address</span>
                    <textarea name="" id="" placeholder="enter your address" cols="30" rows="10"></textarea>
                </div>
            </div>
            <div class="box">
                <div class="inputBox">
                    <span>number</span>
                    <input type="number" placeholder="enter you phone"> 
                </div>
                <div class="inputBox">
                    <span>how much</span>
                    <input type="text" placeholder="how many you want"> 
                </div>
                <div class="inputBox">
                    <span>when you want</span>
                    <input type="datetime-local"> 
                </div>
                <div class="inputBox">
                    <span>our address</span>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3980.8233425737867!2d11.499794414145576!3d3.8480680495329453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x108bcf46002bbde3%3A0xc1aef6da3ba3c19!2zWWFvdW5kw6k!5e0!3m2!1sfr!2scm!4v1643431665534!5m2!1sfr!2scm" class="map" allowfullscreen="" loading="lazy"></iframe>
                    
                </div>
            </div>
        </div>
        <input type="submit" value="Send order" class="btn">
    </form>
</section>