.menu{
    background: var(--light-bg);
}

.menu .slide .title{
    padding: 1rem;
    font-size: 3rem;
    color: var(--white);
    background: var(--peru);
    text-align: center;
    margin-bottom: 3rem;
}
.menu .slide .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-bottom: 4rem;
}
.menu .slide .box-container .box{
     flex: 1 1 41rem;
     background: var(--white);
     padding: 2rem;
     box-sizing: var(--box-shadow);
     border: .1rem solid #aaa;
     display: flex;
     align-items: center;
     gap: 1rem;
     justify-content: space-between;

}
.menu .slide .box-container .box h3{
    font-size: 2.5rem;
    color: var(--black);
    padding-bottom: 1rem;
}
.menu .slide .box-container .box p{
    font-size: 1.6rem;
    color: var(--light-black);
    line-height: 2;
}
.menu .slide .box-container .box .price{
    font-size: 2.5rem;
    color: var(--peru);
}

.menu .slide .box-container .box:hover{
    transform: scale(.9);
    cursor: pointer;
}
